.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.configContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.booksContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 20px; 
}

/* Media Query for iPad and Smaller Screens */
@media (max-width: 768px) {
  .booksContainer {
    grid-template-columns: repeat(3, 1fr); 
  }
}

.book {
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  caret-color: transparent;
}

.modalContainer {
  display: flex;
  gap: 30px;
}